.modal {
    display: none; /* cache la fenêtre modale */
    position: fixed;
    right: 5%;
    top: -4.5rem;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 400px;
    overflow: hidden;
    z-index: 1;
}

.modal-content {
    width: 15rem;
}

.close {
    color: whitesmoke;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    margin-left: 85%;
    margin-bottom: 2%
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.account-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-radius: 120px;
    padding: 0;
    /*transition: transform 0.3s ease-in-out;*/
}

.account-card a {
    color: black;
}

.login-infos {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    line-height: 1.7rem;
}

.compte-infos {
    display: flex;
    flex-direction: column;
}

.passwd-input {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.buttons {
    display: flex;
    flex-direction: row;
    column-gap: 3rem;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
}

.login-form h2 {
    margin: 0;
    border: none;
}

#btn-cancel-login {
    font-size: 12px;
    padding: 15px 20px;
}

#btn-login {
    font-size: 15px;
    padding: 20px 35px;
}

.wrongCredential {
    border: solid 2px red;
    background-color: #a5252a20;
}

.rightCredential {
    border: solid 2px green;
    background-color: rgba(74, 255, 54, .2);
}

#show-password {
    cursor: pointer;
}
