.section-infos-persos {
    box-shadow: -10px 10px 40px #bebebe, 10px -10px 20px #ffffff;
    border-radius: 30px;
    padding: 20px;
    margin-left: 5rem;
    width: 25%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
}

.section-infos-persos span {
    font-size: 20px;
}

.main-content h1 {
    color: white;
    font-size: 50px;
    text-align: center;
}

.main-content h2 {
    color: white;
    font-size: 35px;
    margin: 3rem 3rem 3rem 5rem;
}

.historique-voyages{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 30px;
    column-gap: 30px;
    align-items: center;
    justify-items: center;
}

.historique-voyages img {
    width: 85%;
    clip-path: circle(50%); /* on "crop" l'image en forme de cercle */
}

