
.confirmation {
    margin: 15px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.confirmation a:link, .confirmation a:visited {
    color: var(--color2);
}

.confirmation-voyage {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 30px;
    column-gap: 30px;
    align-items: center;
    justify-items: center;
}

.confirmation-voyage img {
    width: 85%;
    clip-path: circle(50%);
}

.img-destination {
    position: relative;
}

/* ronds de temperature */
.img-destination p.temperature {
    position: absolute;
    top: 0;
    left: 38%;
    height: 90px;
    width: 90px;
    line-height: 4.4em;
    font-size: 20px;
}

.resume-voyage b {
    font-size: 30px;
}

.prix-total {
    background-color: rgba(255, 255, 255, .9);
    margin: auto;
    width: fit-content;
    font-size: 35px;
    padding: 15px;
}