
.main-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
}

.main-container img {
    max-width: 50%;
    height: auto;
    margin-left: 20px;
    align-items: end ;
    border-radius: 20px;
}


.left-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.navigate-img {
    display: flex;
    margin-bottom: 50px;
    margin-top: 5px;
    justify-content: flex-end;
    flex-direction: row;
    align-items: center;
    padding-right: 23%;
}

#titre-destination {
    font-size: 30px;
    color: var(--color2);
    font-family: 'lusitana', serif;
}

#desc-destination {
    display: flex;
    align-items: center;
    font-family: lusitana, serif;
}

.info-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center
}

.info-left-container {
    color: black;
}

.choix {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    column-gap: 20px;
    margin-bottom: 20px;
}

.animaux {
    display: inline;
    padding: 10px;
    border: 1px solid grey;
}

.animaux #animaux-destination {
    font-family: 'lusitana', serif;
    font-size: 15px;
}

