.header {
    display: block;
}

.header-navbar {
    position: absolute;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    align-items: center;
    overflow: hidden;
    box-shadow: -20px 5px 60px #bebebe,
    20px -20px 60px #ffffff;
    border-radius: 50px;
    background-color: rgba(60, 79, 94, .6);
}

.sticky {
    position: sticky;
}

.header-navbar .homelink {
    font-family: 'Rampart One';
    font-size: 80px;
    color: white;
    padding-top: 20px;
}

.nav-links ul {
    display: flex;
    list-style-type: none;

}

.nav-links {
    display: flex;
    font-size: 20px;
    font-family: 'Lexend Deca';

}

.nav-links ul li{
    margin: 25px;
}


.nav-links ul li.active a{
    color: cadetblue;
    font-weight: 800;
}