.header {
    display: block;
}

.header-navbar {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    align-items: center;
    overflow: hidden;
    /*box-shadow: -20px 5px 60px #bebebe,*/
    /*20px -20px 60px #ffffff;*/
    /*border-radius: 50px;*/
    background-color: rgba(60, 79, 94, .6);
}

.sticky {
    position: sticky;
}

.header-navbar .homelink {
    font-family: 'Rampart One';
    font-size: 80px;
    color: white;
    padding-top: 20px;
}

.nav-links ul {
    display: flex;
    list-style-type: none;
    padding: 0;
}

.nav-links {
    display: flex;
    font-size: 20px;
}

.nav-links ul li{
    margin: 25px;
}


.nav-links ul li.active a{
    color: cadetblue;
    font-weight: 800;
}

.background-action{
    cursor: pointer;
    color: white;
    position: absolute;
    left: 3rem;
    bottom: 1rem;
    background-color: rgba(60, 79, 94, .9);
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    text-align: center;
    line-height: 3.8rem;
}

.background-action:hover {
    animation: 1s ease;
    transform: scale(1.3);
}

