table td, table th{
    width: 15%;
    text-align: center;
}

#modifier {
    font-size: 17px;
    margin-bottom: 10px;
}

#supprimer {
    font-size: 12px;
}

table img {
    width: 100%;
    clip-path: circle(50%);
}

.img-destination {
    position: relative;
}

/* ronds de temperature */
.img-destination p.temperature {
    position: absolute;
    top: 0;
    left: 40%;
    height: 50px;
    width: 50px;
    line-height: 4em;
    font-size: 12px;
    background-color: lightgray;
    color: whitesmoke;
    border-radius: 50%;
    text-align: center;
    padding-right: 0;
    background-color: rgba(60, 79, 94, .6);
}

.contenu-panier {
    margin: 50px 50px 10px 50px;
}

.contenu-panier, #divtotal {
    box-shadow:  -20px 20px 60px #bebebe,
    20px -20px 60px #ffffff;
    background-color: rgba(255, 255, 255, .5);
    border-radius: 20px;
    padding: 10px;
}

.total {
    width: fit-content;
    float: right;
    margin: 1em 10% 2em 0;
    font-size: 25px;
}

.infos {
    display: flex;
    flex-wrap: wrap;
    padding: 25px;
    margin: 50px;
    border-radius: 20px;
    gap: 10px;
    justify-content: space-evenly;
    /*clear: both; !* On clear la propriété float du .total pour que les infos reprennent leur position donnée *!*/
}

.form-complet {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: -20px 20px 60px #bebebe, 20px -20px 60px #ffffff;
    background-color: rgba(255, 255, 255, .5);
    border-radius: 20px;
    padding: 20px;
}

.form-complet h2 {
    width: 80%;
    margin: 0;
    margin-bottom: 1rem;
}

.info-commande {
    display: flex;
    flex-flow: column wrap;
    padding: 25px;
    align-items: flex-start;
    row-gap: 5px;
}

.confirm-total {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.invalid {
    border: 2px solid red;
    background-color: #a5252a20;
}

button {
    display: block;
    margin: auto;
}
