:root {
    --color1: #6E94E5;
    --color2: #00B5F9;
    --color3: #00D1EB;
    --color4: #00E7C2;
    --color5: #95F490;
    --color6: #F9F871
}

@font-face {
    font-family: lusitana;
    src: url(../assets/fonts/Lusitana/Lusitana-Regular.ttf);
    src: url(../assets/fonts/Lusitana/Lusitana-Bold.ttf);
}

body {
    color: grey;
    font-family: lusitana, serif;
    background: url("../assets/img/maldive/03.jpg") no-repeat center center fixed;
    background-size: cover;
}

a {
    outline: none;
    text-decoration: none;
}

a:link {
    color: white;
}

a:visited {
    color: white;
}

.form-inline {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

button {
    background-color: white;
    color: black;
    font-family: Lusitana, serif;
    border-radius: 10em;
    font-size: 17px;
    font-weight: 600;
    padding: 1em 2em;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border: 1px solid black;
    box-shadow: 0 0 0 0 black;
}

.reset {
    border-radius: 8em;
    font-size: 13px;
    font-weight: 300;
    padding: 0.4em 0.9em;
}

button:hover {
    transform: translateY(-4px) translateX(-2px);
    box-shadow: 2px 5px 0 0 black;
}

button:active {
    transform: translateY(2px) translateX(1px);
    box-shadow: 0 0 0 0 black;
}

button:disabled {
    transform: none;
}

.check {
    position: relative;
    width: 20px;
    height: 20px;
    border-radius: 2px;
    appearance: none;
    background-color: #bbb;
    transition: all .3s;
}

.check::before {
    content: '';
    position: absolute;
    border: solid #fff;
    display: block;
    width: .3em;
    height: .6em;
    border-width: 0 .2em .2em 0;
    z-index: 1;
    opacity: 0;
    right: calc(50% - .3em);
    top: calc(50% - .6em);
    transform: rotate(0deg);
    transition: all .3s;
    transform-origin: center center;
}

.check:checked {
    animation: a .3s ease-in forwards;
    background-color: rgb(120, 190, 120);
}

.check:checked::before {
    opacity: 1;
    transform: rotate(405deg);
}
