:root {
    --color1: #6E94E5;
    --color2: #00B5F9;
    --color3: #00D1EB;
    --color4: #00E7C2;
    --color5: #95F490;
    --color6: #F9F871
}

html {
    height: 100%;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    color: #3c3c3c;
    font-family: "Lexend Deca", serif;
    /*background: url("../assets/img/maldive/03.jpg") no-repeat center center fixed;*/
    /*background-size: cover;*/
    /*background-position: center center;*/
    /*background-repeat: no-repeat;*/
    /*background-attachment: fixed;*/
    backdrop-filter: blur(5px);
    margin: 0;
    padding:0;
    overflow-x: hidden;
    height:fit-content;
}

main{
    position:relative;
    padding-bottom:100px;   /* Hauteur du pied de page */
}

a {
    outline: none;
    text-decoration: none;
}

a:link {
    color: white;
}

a:visited {
    color: white;
}

.form-inline {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

input, select {
    background-color: rgba(255, 255, 255, .5);
    border: none;
    border-radius: 10px;
    padding: 7px;
}

button {
    background-color: white;
    color: black;
    border-radius: 10em;
    font-size: 17px;
    font-weight: 600;
    padding: 1em 2em;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border: 1px solid black;
    box-shadow: 0 0 0 0 black;
}

.reset {
    border-radius: 8em;
    font-size: 13px;
    font-weight: 300;
    padding: 0.4em 0.9em;
}

button:hover {
    transform: translateY(-4px) translateX(-2px);
    box-shadow: 2px 5px 0 0 black;
}

button:active {
    transform: translateY(2px) translateX(1px);
    box-shadow: 0 0 0 0 black;
}

button:disabled:hover {
    transform: none;
    box-shadow: none;
}

button:disabled {
    background-color: grey;
    cursor: not-allowed;
}

.check {
    position: relative;
    width: 20px;
    height: 20px;
    border-radius: 2px;
    appearance: none;
    background-color: #bbb;
    transition: all .3s;
}

.check::before {
    content: '';
    position: absolute;
    border: solid #fff;
    display: block;
    width: .3em;
    height: .6em;
    border-width: 0 .2em .2em 0;
    z-index: 1;
    opacity: 0;
    right: calc(50% - .3em);
    top: calc(50% - .6em);
    transform: rotate(0deg);
    transition: all .3s;
    transform-origin: center center;
}

.check:checked {
    animation: a .3s ease-in forwards;
    background-color: rgb(120, 190, 120);
}

.check:checked::before {
    opacity: 1;
    transform: rotate(405deg);
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltip-text {
    visibility: hidden;
    width: 18rem;
    background-color: rgba(60, 79, 94, .9);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    bottom: 80%;
    left: 30%;
    font-size: 13px;
    opacity: 0;
}

.tooltip:hover .tooltip-text {
    visibility: visible;
    transition: 500ms ease;
    opacity: 1;
    transform: translate3d(10%, -10%, 5px);
}
