:root {
    --color1: #6E94E5;
    --color2: #00B5F9;
    --color3: #00D1EB;
    --color4: #00E7C2;
    --color5: #95F490;
    --color6: #F9F871
}

@font-face {
    font-family: lusitana;
    src: url(../assets/fonts/Lusitana/Lusitana-Regular.ttf);
    src: url(../assets/fonts/Lusitana/Lusitana-Bold.ttf);
}

body {
    background-color: whitesmoke;
    color: grey;
    font-family: lusitana, serif;
}

a {
    outline: none;
    text-decoration: none;
}

a:link {
    color: grey;
}

a:visited {
    color: grey;
}

a:focus {
    border-bottom: 1px solid;
}

a:hover {
    text-transform: scale(1.1);
    }

a:active {
    color: grey;
}

.landing {
    background: url("../assets/img/canada/01.jpg") no-repeat center center fixed;
    overflow: hidden;
}

.grid-container {
    max-width: 1200px;
    margin: 40px;
    display: grid;
    grid-template-columns: 300px;
    gap: 1rem; 
    color: whitesmoke;  
    justify-content: space-around; 
}

.grid-img {
    border-radius: 50px;
    background: linear-gradient(225deg, #cacaca, #f0f0f0);
    box-shadow:  -20px 20px 60px #bebebe,
                 20px -20px 60px #ffffff;
    width: 300px;
    height: 300px;
    object-fit: cover;
    justify-content: center;

}

.grid-item {
    display: grid;
    align-content: center;
    position: relative;
    text-align: center;
    box-shadow:  -20px 20px 60px #bebebe,
    20px -20px 60px #ffffff;
    border-radius: 50px;
}


/* 
.grid-item h2 {
    position: absolute;
    margin: 0;
    top: 20px;
    right: 110px;
    font-size: 30px;
} */

.grid-item p {
    text-align: right;
    font-size: 20px;
}

.grid-item p.temperature {
    position: absolute;
    top: 20%;
    left: 65%;
    height: 50px;
    width: 50px;
    line-height: 50px;
    background-color: lightgray;
    border-radius: 50%;
    text-align: center;
    padding-right: 0;
}

.dest-infos {
    display: flex;
    justify-content: space-around;
}

.dest-infos span {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
}

.main-container img {
    max-width: 50%;
    height: auto;
    margin-left: 20px;
    align-items: end ;
    border-radius: 20px;
}


.left-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.navigate-img {
    display: flex;
    margin-bottom: 50px;
    margin-top: 5px;
    justify-content: flex-end;
    flex-direction: row;
    align-items: center;
    padding-right: 23%;
}

#titre-destination {
    font-size: 30px;
    color: var(--color2);
    font-family: 'lusitana', serif;
}

#desc-destination {
    display: flex;
    align-items: center;
    font-family: lusitana, serif;
}

.form-inline {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

/* .form-inline section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 30px;
}

.form-inline section div {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-evenly;
}

.form-inline+section {
    margin-bottom: 50px;
    background-color: rebeccapurple;
} */

button {
    background-color: white;
    color: black;
    font-family: Lusitana, serif;
    border-radius: 10em;
    font-size: 17px;
    font-weight: 600;
    padding: 1em 2em;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border: 1px solid black;
    box-shadow: 0 0 0 0 black;
}

.reset {
    border-radius: 8em;
    font-size: 13px;
    font-weight: 300;
    padding: 0.4em 0.9em;
}

button:hover {
    transform: translateY(-4px) translateX(-2px);
    box-shadow: 2px 5px 0 0 black;
}

button:active {
    transform: translateY(2px) translateX(1px);
    box-shadow: 0 0 0 0 black;
}

.check {
    position: relative;
    width: 20px;
    height: 20px;
    border-radius: 2px;
    appearance: none;
    background-color: #bbb;
    transition: all .3s;
}

.check::before {
    content: '';
    position: absolute;
    border: solid #fff;
    display: block;
    width: .3em;
    height: .6em;
    border-width: 0 .2em .2em 0;
    z-index: 1;
    opacity: 0;
    right: calc(50% - .3em);
    top: calc(50% - .6em);
    transform: rotate(0deg);
    transition: all .3s;
    transform-origin: center center;
}

.check:checked {
    animation: a .3s ease-in forwards;
    background-color: rgb(120, 190, 120);
}

.check:checked::before {
    opacity: 1;
    transform: rotate(405deg);
}

@keyframes a {
    0% {
        opacity: 1;
        transform: scale(1) rotateY(0deg);
    }
    50% {
        opacity: 0;
        transform: scale(.8) rotateY(180deg);
    }
    100% {
        opacity: 1;
        transform: scale(1) rotateY(360deg);
    }
}

.landing-text {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.landing-text h1 {
    text-align: center;
    text-transform: uppercase;
    color: #F1FAEE;
    font-size: 4rem;
}

.landing-text a {
    color: ghostwhite;
    display: flex;
}

.roller {
    height: 4.125rem;
    line-height: 4rem;
    position: relative;
    overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#spare-time {
    font-size: 1rem;
    font-style: italic;
    letter-spacing: 1rem;
    margin-top: 0;
    color: #A8DADC;
}

.roller #rolltext {
    position: absolute;
    top: 0;
    animation: slide 8s infinite;
}

@keyframes slide {
    0% {
        top: 0;
    }
    14.28% {
        top: -4rem;
    }
    28.56% {
        top: -8rem;
    }
    42.85% {
        top: -12rem;
    }
    57.13% {
        top: -16rem;
    }
    71.41% {
        top: -20rem;
    }
    85.69% {
        top: -24rem;
    }
    100% {
        top: -28rem;
    }
    100% {
        top: 0rem;
    }
}

@media (min-width: 400px) {
    .grid-container { 
        grid-template-columns: repeat(2, 1fr); 
    }
  }

@media (min-width: 1200px) {
    .grid-container { 
        grid-template-columns: repeat(3, 1fr); 
    }
}
